.Footer-wrap{
    background-color: #222;
    color:white;
    display: flex;
 
    justify-content: center;
}

.Footer-top{
    display: flex;
}
.Footer-Links{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;

}
.Footer-Links a, .Footer-Address a{
      text-decoration: none;
      color:White;
      font-size: 20px;
}
.Footer-Links li, .Footer-Address li{
    min-width: 200px;
    list-style: none;
}
.Footer-Address{
    flex-basis: 50%;
    display: flex;
    justify-content: right;
}
#footerlogo{
 

    margin-bottom: 30px;
}

.Footer-inner{
    padding: 100px 40px 60px;
    max-width: 1420px;
    width: 100%;
    
}