*{
    margin: 0px;
    padding: 0px;
}

.Header-wrap{
    display:flex;
    justify-content: center;
    
}
.Header{
    width: 1170px;
}
.Header a{
    text-decoration: none;
    color:black
}
.Header-top{
    display:flex;
    justify-content: space-between;
}
.Header-top div ul{
    display: flex;
}

.Header-top div ul li{
    margin: 5px;
    list-style: none;
}

.Header-top div .Header-promise img{
    width: 16px;
    height: 16px;
   margin-right: 10px;
   margin-top:5px;
}
.Header-user-nav li {
    border-right:1px solid #ccc;
    padding-left:5px;
    padding-right:5px;
    display:flex;
    justify-content: center;
    text-align: center;
}

/*header-mid*/

.Header-mid{
    display:flex;
    align-items: center;
}
.Header-mid-search{
    display: flex;
    flex-basis: calc(100%);
    justify-content: center;
}
.Header-mid-search input{
    width: 55%;
    height: 42px;
}
.Header-mid-search-results{
    display:none
}

/*Header-Bottom*/
.Header-bottom{
    background-color: #f7f7f7;
    height: 52px;
    display:flex;
    align-items: center;
}

.Header-bottom ul {
    display: flex;
    justify-content: left;
    
}
.Header-bottom ul li{
    margin: 10px;
    list-style: none;

}
.loginpopup{
    display:none
}
.loginpopup button{
    background-color: #005094;
    padding: 5px; color:white;
    margin-top: 10px;

}
.loginpopup input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 5px;
    margin-left: 10px;
}
#logintab:hover .loginpopup{
    padding: 7px;
    display: block;
    position: absolute;
    top: 20px;
    background-color: #ccc;
    color:black;
    display: flex;
    flex-direction: column;
}

.hiddenmenu{
    display:none
}
.visiblemenu{
    display:block;
    position:absolute;
    z-index: 100;
    top: 30px;
}

.langtogglemenu{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 100;
    padding: 8px;
    background-color: #ccc;
    top: 30px;
    width: 200px;

}

.langtogglemenu button{
    display: flex;
    margin: 2px;
    padding:4px;
    
    background-color: transparent;
    border:none;
}
.langtogglemenu button img{
    margin-right: 25px;
}
.langtogglemenu button:hover{
    cursor: pointer;
    opacity: 0.5;
}