.Config-measure{
    display:flex;
    justify-content: center;
}

.Config-measure-x, .Config-measure-y, .Config-measure-z{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Config-measure-wrap{
    display: flex;
}
.Config-measure-z input{
    max-width: 80px;
    
}
.hidden{
    display:none !important
}
.Config-measure input{
    max-width: 80px;
}

.Config-measure-input-div{
    display: flex;
    flex-direction: column;
}

.Config-measure-input-div p{
    font-weight: 600;
    width: 80px;
}

.Config-measure-table-val{
    padding-left: 20px;
    background-color: #f4f4f4;
}

.Config-measure-ov td{
    border: 1px solid #ccc;
}
.Config-measure-ov{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}
.railchoice{
    display: flex;

    justify-content: center;

}

.railchoice button{
    width: 150px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc
}

.railchoice-head{
    text-align: center;
}

.underchoice-btn img{
    width: 120px;
    height: 120px;
}
.morebtn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.underchoice{
    display: flex;
    justify-content: center;
}
.underchoice button{
    margin: 10px;
}

.color{
    display: flex;
    justify-content: center;
}

.glassfill{
    display: flex;
    justify-content: center;
}

.glassfill button{
    margin: 10px;
}
.railingtop {
     display: flex;
     justify-content: center;
}
.railingtop button{
    margin: 10px;
}

#bigimg1{

}
#bigimg2{
    
}
#bigimg3{
    
}

.canvasdiv{
    position: relative;
}

#SetMeasure1{
    position: absolute;
    z-index: 100;
    left: 0px;
   
}
#SetMeasure2{
    position: absolute;
  
}

#SetMeasure1 input, 
#SetMeasure2 input,
 #SetMeasure3 input, 
 #SetMeasure4 input{
    width: 30px;
}
#SetMeasure3{
    position: absolute;

}
#SetMeasure4{
    position: absolute;

}
.BannerWarp-config{
    position: relative;
    min-height: 800px;
}
#measurementscanvas{
    background-color: #ccc;    
}


.choicediv0{
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%) !important;
    background-color: #ccc;
    width: 800px;
    height: 200px;   
    ;
    display: flex;
    justify-content: space-around;
    animation: slide-up 0.5s !important;
   
}
.choicediv3{
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%) !important;
    background-color: #ccc;
    width: 800px;
    height: 200px;   
    ;
    display: flex;
    justify-content: space-around;
    animation: slide-up 0.5s !important;
   
}



.choicediv1{
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%) !important;
    background-color: #ccc;
    width: 800px;
    height: 200px;   
    ;
    display: flex;
    justify-content: space-around;

   
}


.choicediv2{
    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%) !important;
    background-color: #ccc;
    width: 800px;
    height: 200px;   
    ;
    display: flex;
    justify-content: space-around;  
}


.choicediv button, .choicediv2 button{
    width: 100%;
}
.slidee{

    position: absolute;
    z-index: 10;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%) !important;
    background-color: #ccc;
    width: 800px;
    height: 200px;   
    ;
    display: flex;
    justify-content: space-around;
    
    animation: 0.5s slide-up ease-in-out;
    
    
}


@keyframes slide-up {
    from {
        top: 1800px;
    }
    to {
        top: 70%;

    }
  }

.step1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}
.project-choice{
    display: flex;
}
.step1-header{
    padding-bottom: 50px;
}

.project-choice div:first-child{
        width: 300px;
}

.step1 button{
    width: 250px;
    height: 150px;
    font-size: 32px;
    margin-left: 30px;
    background-color: #005094;
    color:white;
    box-shadow: 3px 7px 14px black;
}

.step1 button:hover{
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.Step-count{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.hrfill{
    width: 14%;
    margin-top: 25px;
}
.hrfillen{
    width: 5%;
    margin-top: 25px;
}

.Step-count button{
    border-radius: 50%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #005094;
    color:white;
    border: white 1px solid;
    font-size: 28px;
}

.Step-count button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.8;
}

.Config-selects{
    padding-top: 50px;
    padding-bottom: 50px;
}
#confighead{
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    box-shadow: 3px 5px 11px black;
}
#confighead img{
    margin-right: 50px;
}

.BannerWarp-config{
    max-width: 1500px;
}

.active{
    background-color: red !important;
}