.Service-wrap{
    display: flex;
    justify-content: center;
}

.Service-select{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;

}
.Service-select button{
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #a6a6a6;
    border-right: none;
    border-left: none;
    border-collapse:separate;
    border-top: none;
    color: #a6a6a6;
    text-align: left;
    font-size: 16px;
   
    padding-right: 10px;
}

.Service-select button:first-child{
    border-top: 1px solid #a6a6a6;
}

.Service-data{
    flex-basis: 65%;
    width: 100%;
    margin-left: 70px;
}

.Service-select button:hover{
    cursor: pointer;
    color: #005094;
    font-weight: 600;
}